langchain
langchain_core
langchain-huggingface
langchain-community
langgraph

PyMuPDF
python-docx
pytesseract
Pillow

streamlit
sounddevice
soundfile
speechrecognition

python-dotenv
pypdf
openai-whisper
reportlab
scipy
faiss-cpu

edge-tts
pygame
fastapi
uvicorn
langchain-google-genai
langchain-groq
